.root {

    /* These are needed for Popup */
    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;

    /****************
    *                *
    * AQUA STUFF    *
    *                *
    ****************/
    -fx-text-base-color: black;
    -fx-text-fill: -fx-text-base-color;

    /* background color for dialogs */
    /*     default font */
    -fx-font-family: 'lucida-grande';
    -fx-font-size: 13.0;
//-fx-disabled-opacity: 0.6;

    /* The color to use in ListView/TreeView/TableView to indicate hover. */
    -fx-cell-hover-color: rgb(182.0, 214.0, 253.0);

    -toggle-selected-base:linear-gradient(rgb(94.0, 94.0, 94.0) 0.0%, rgb(120.0, 120.0, 120.0) 10.0%,
    rgb(150.0, 150.0, 150.0) 85.0%, rgb(177.0, 177.0, 177.0) 98.0%, rgb(97.0, 97.0, 97.0) 100.0%);

    -toggle-armed-base:linear-gradient(rgb(87.0, 87.0, 87.0) 0.0%, rgb(113.0, 113.0, 113.0) 12.0%,
    rgb(125.0, 125.0, 125.0) 87.0%, rgb(129.0, 129.0, 129.0) 87.1%, rgb(155.0, 155.0, 155.0) 100.0%);

    -toggle-shadow-armed: linear-gradient(to right, rgb(87.0, 87.0, 87.0) 0.0%, transparent 3.0%, transparent 97.0%, rgb(87.0, 87.0, 0.5) 100.0%);
    -toggle-shadow: linear-gradient(to right, rgb(87.0, 87.0, 0.3) 0.0%, transparent 3.0%, transparent 97.0%, rgb(87.0, 87.0, 0.3) 100.0%);

    -choice-base: linear-gradient(rgb(255.0, 255.0, 255.0) 25.0%, rgb(243.0, 243.0, 243.0) 50.0%, rgb(236.0, 236.0, 236.0) 50.0%, rgb(243.0, 243.0, 243.0) 100.0% );
}



.title{
    -fx-font-family: "Lucida Bright";
    -fx-font-size: 25.0;
    -fx-font-smoothing-type: lcd;

}

.button {
    -fx-border-radius: 1.0em;
    -fx-background-radius: 1.0em, 1.0em;
}

.text-field {
    -fx-padding: 0.166667em 0.5em 0.166667em 0.5em;
}

.button {
    -fx-border-radius: 3.0;
    -fx-background-radius: 3.0, 3.0;
    -fx-padding: 0.12em 0.85em 0.05em 0.85em;
}
.label {
    -fx-text-fill: -fx-text-base-color;
}

.label:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.label {
    -fx-stroke: -fx-text-base-color;
}
.button, .toggle-button{
    /* gradients for glossy-aqua-effect */
    -fx-background-color: rgb(255.0, 255.0, 255.0),
    linear-gradient(rgb(255.0, 255.0, 255.0) 25.0%, rgb(243.0, 243.0, 243.0) 50.0%, rgb(236.0, 236.0, 236.0) 50.0%, rgb(243.0, 243.0, 243.0) 100.0% );
    -fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 4.0, 4.0;
    -fx-border-radius: 4.0;
    -fx-border-width: 0.5;
    -fx-border-color: rgb(147.0, 147.0, 147.0) rgb(129.0, 129.0, 129.0) rgb(129.0, 129.0, 129.0) rgb(129.0, 129.0, 129.0);
    -fx-padding: 0.08em 0.85em 0.09em 0.85em;

    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

    -fx-aqua-inner-focus-color: rgb(104, 155, 0.8);
    -fx-aqua-outer-focus-color: rgb(120, 171, 217);
}
.button:armed, .button:default:armed{
    -fx-background-color:
            linear-gradient(rgb(190.0, 214.0, 237.0) 0.0%, rgb(178.0, 213.0, 237.0) 100.0% ),
            linear-gradient(rgb(165.0, 193.0, 238.0) 0.0%, rgb(108.0, 161.0, 231.0) 50.0%,
            rgb(74.0, 138.0, 217.0) 50.0%, rgb(105.0, 167.0, 236.0) 75.0%, rgb(152.0, 201.0, 238.0) 100.0%
            ),
            radial-gradient(focus-angle 180.0deg, focus-distance 95.0%, center 1.0% 50.0%,
            radius 50.0%, #78b0ee, transparent),
            radial-gradient(focus-angle 0.0deg, focus-distance 95.0%, center 100.0% 50.0%,
            radius 50.0%, #78b0ee, transparent);
    -fx-background-insets: 0.0, 0.0, 1.0 1.0 1.0 2.0, 1.0 2.0 1.0 1.0;
    -fx-background-radius: 4.0, 4.0, 4.0, 4.0;
    -fx-border-color: rgb(100.0, 103.0, 124.0);
}

.button:default {
    -fx-border-color: rgb(100.0, 103.0, 124.0);
}
.button {
    -fx-stroke: -fx-text-base-color;
}

.button.left-pill{
    -fx-background-radius: 4.0 0.0 0.0 4.0, 4.0 0.0 0.0 4.0;
    -fx-background-insets:  0.0, 1.0 0.0 0.0 1.0;
    -fx-border-radius: 4.0 0.0 0.0 4.0;
    -fx-border-width:0.5 0.0 0.5 0.5;
}

/*menu*/

.menu {
    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.menu:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/*.menu {
    -fx-stroke: -fx-text-base-color;
}

/* This hides the down arrow that would show on a menu placed in a menubar */
.menu-bar > .container > .menu > .arrow-button > .arrow {
    -fx-padding: 0.0;
    -fx-background-color: transparent;
    -fx-shape: null;
}

.menu-bar > .container > .menu > .arrow-button {
    -fx-padding: 0.0;
}

.menu > .arrow {
    -fx-background-color: -fx-text-base-color;
    -fx-shape: "M0,-4L4,0L0,4Z";
    -fx-scale-shape: false;
}

.menu:focused:showing > .arrow, .menu:hover:showing > .arrow, .menu:focused > .arrow, .menu:showing > .arrow {
    -fx-background-color: white;
}

.menu-up-arrow {
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;
    -fx-background-color: rgb(71.0, 71.0, 71.0);
    -fx-shape: "M0 1 L1 1 L.5 0 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0.0,0.0,0.0,0.6) , 4.0, 0.0 , 0.0 , 1.0 );
}

.menu-down-arrow {
    -fx-background-color: rgb(71.0, 71.0, 71.0);
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;
    -fx-shape: "M0 0 L1 0 L.5 1 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0.0,0.0,0.0,0.6) , 4.0, 0.0 , 0.0 , 1.0 );
}


/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.menu-bar {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em;
    -fx-background-color:
            linear-gradient(rgb(245.0, 245.0, 245.0), rgb(185.0, 185.0, 185.0));
    -fx-background-insets:0.0;
    -fx-border-width: 0.5;
    -fx-border-insets:-0.5, 0.0 ;
    -fx-border-color: linear-gradient(rgb(147.0, 147.0, 147.0), rgb(131.0, 131.0, 131.0)),
    linear-gradient(rgb(116.0, 116.0, 116.0), rgb(105.0, 105.0, 105.0));

    /* Nothing more needed for Mac OS X than the following property!
     * All other definitions kept from caspian, to ensure, that MenuBar
     * is shown properly on non-mac systems.
     */
    -fx-use-system-menu-bar: true;
}

.menu-bar > .container > .menu-button {
    -fx-background-radius: 0.0;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0.333em 0.5em 0.333em 0.5em;
}

.menu-bar > .container > .menu-button:hover, .menu-bar > .container > .menu-button:focused, .menu-bar > .container > .menu-button:showing {
    -fx-background: #0093ff;
    -fx-background-color: linear-gradient(to right, rgb(233.0, 233.0, 233.0), rgb(173.0, 173.0, 173.0) 99.0%, rgb(233.0, 233.0, 233.0));
    -fx-text-fill: -fx-text-base-color;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background: #0093ff;
    -fx-background-color: linear-gradient(to right, rgb(233.0, 233.0, 233.0), rgb(173.0, 173.0, 173.0) 99.0%, rgb(233.0, 233.0, 233.0));
    -fx-text-fill: -fx-text-base-color;
}

.menu-bar {
    -fx-stroke: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: transparent;
    -fx-background-insets:0.0;
    -fx-padding:0.0em 0.0em 0.333333em 0.0em;
    -fx-border-width: 1.0 0.0 1.0 0.0;
    -fx-border-color:transparent;
}

.menu-item > .left-container {
    -fx-padding: 0.0em 0.0em 0.0em 0.4em;
}

.menu-item > .graphic-container {
    -fx-background-color: blue;
    -fx-padding: 0.0em 0.833em 0.0em 0.0em;
}

.menu-item >.label {
    -fx-background-color: transparent;
    -fx-padding: -0.073333em 2.0em 0.0em 0.33333em ;
    -fx-text-fill: -fx-text-base-color;
}

.menu-item:disabled > .label {
    -fx-opacity: -fx-disabled-opacity;
}

.menu-item:focused {
    -fx-border-width: 1.0 0.0 1.0 0.0;
    -fx-border-color: rgb(90.0, 130.0, 235.0) transparent rgb(23.0, 89.0, 231.0) transparent;
    -fx-background-color: linear-gradient(rgb(101.0, 140.0, 245.0) 0.0%, rgb(41.0, 103.0, 243.0) 100.0%);
}

.menu-item:focused:disabled {
    -fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-text-fill: -fx-text-base-color;
}

.menu-item:focused > .label {
    -fx-text-fill: white;
}

.menu-item:focused:disabled > .label {
    -fx-text-fill: -fx-text-base-color;
}

.menu-item > .right-container {
    -fx-padding: 0.0em 0.833333em 0.0em 0.0em;
}

.radio-menu-item,
.check-menu-item {
    -fx-background-color: -fx-text-base-color;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.68em 0.0em 0.0em;
}

.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    -fx-background-color: transparent;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.68em 0.0em 0.0em;
}

.radio-menu-item:focused,
.check-menu-item:focused {
    -fx-background-color: white;
}

.menu > .right-container > .arrow {
    -fx-padding: 0.38em 0.3em 0.38em 0.267em;
    -fx-background-color: rgb(64.0, 64.0, 64.0);
    -fx-shape: "M0,-4L4,0L0,4Z";
}

.menu:selected > .right-container > .arrow {
    -fx-background-color: white;
}

.menu-item {
    -fx-stroke: -fx-text-base-color;
}
.text-field {

    -fx-border-color: linear-gradient(rgb(184.0, 184.0, 184.0) 0.0%, rgb(205.0, 205.0, 205.0) 100.0%);
    -fx-border-width: 0.5;
    -fx-border-insets: -0.5 0.0 3.0 0.0;
    -fx-background-color: linear-gradient(rgb(155.0, 155.0, 155.0) 0.0%, rgb(172.0, 172.0, 172.0)  100.0%),
    rgb(255.0, 255.0, 255.0),
    linear-gradient(rgb(224.0, 224.0, 224.0) 0.0%, rgb(255.0, 255.0, 255.0)  10.0%),
    linear-gradient(to right, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%),
    linear-gradient(to left, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%);
    -fx-background-insets: 0.0 0.5 3.5 0.5, 0.5 1.0 4.0 1.0, 0.5 1.0 4.0 1.0, 0.5 1.0 4.0 1.0;
    -fx-background-radius: 0.0, 0.0;

    -fx-padding: 0.166667em;
    -fx-text-fill: black;
    -fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-prompt-text-fill: rgb(128.0, 128.0, 128.0);
    -fx-cursor: text;

    -fx-aqua-inner-focus-color: rgb(104, 155, 0.8);
    -fx-aqua-outer-focus-color: rgb(120, 171, 217);
}

.text-field:focused {
    -fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-highlight-text-fill: -fx-text-base-color;
}
